* {
    margin: 0;
    padding-bottom: 1em;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    width: 90%;
    max-width: 800px;
    margin: 1em auto;
}
ul, li {
    padding-bottom: .5em;
}