body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    }
a:focus, a:hover{
    font-style: italic;
    color: var(--accent-color);
}
h1{
    font: size 150%;;
}
h2{
    font-size: 130%;
    color: var(--accent-color);
}
h3{
    font-size: 105%;
}
header h2{
    font-size:170%;
    text-indent: 30px;
}
header h3{
    font-size: 130%;
    font-style: italic;
    text-indent: 30px;
}
header img{
    float:left;
}
main{
    clear:left;
}
footer p{
    text-align: center;
}
.large{
    font-size:125%;
    text-shadow: 2px 2px 2px #800000;
}
:root{
    --accent-color: #800000;
}